<section>
  <p>Welcome to meditation247.org. We are bootstrapping the site, so it is a bit raw. If you would like to lead a meditation, please say so :-)</p>
  <p>To start broadcasting your zen state, sign in (as a guest), allow access to the camera and microphone through the dialog menus. Then click Start Broadcasting.</p>
  <p>Please leave comments in the <a href="https://plus.google.com/communities/117355670486265058376" title="Meditation247 community" target="_blank">Meditation247 community page</a>. Namaste, Brian (aka binspace)</p>
</section>

<section>
  <script
    type="text/javascript">var tinychat = { room: "meditation247", colorbk: "0xffffff", join: "auto", api: "list"};</script>
  <script src="http://tinychat.com/js/embed.js"></script>
</section>

<section>
  <h2>Meditation Group Leader Schedule</h2>
  <iframe src="https://www.google.com/calendar/embed?src=ltamcft8gksimuokm3g22n4gm4%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" height="600" frameborder="0" scrolling="no"></iframe>

  <p>
    Meditation247 is a worldwide community effort.
    If you feel called to become a meditation leader, please make your request to the <a href="https://plus.google.com/communities/117355670486265058376" title="Meditation247 community" target="_blank">Meditation247 community page</a> to get on the calendar.
    30-60 minute slots are encouraged.
  </p>
</section>
